.meanings {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-width: thin;
  height: 60vh;
  padding: 10px 20px;
  overflow-x: hidden;
  border: 1px solid gray;
}

#audio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  border: 1px solid gray;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
  
::-webkit-scrollbar-track {
  background: #f5f5f5;
}
  
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;  
}
  
::-webkit-scrollbar-thumb:hover {
  background: #999;  
}

.subTitle {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
}

@media (max-width: 900px) {
  .meanings {
    overflow: scroll;
    overflow-x: hidden;
    height: 60vh;
  }

  #audio {
    flex-direction: column;
    flex-basis: 100px;
  }
}

.singleMean {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 10px 0;
}
